<launch>

<rosparam file="$(find AMR_With_Cam_description)/launch/controller.yaml" command="load"/>
<node args="joint_state_controller " name="controller_spawner" ns="AMR_With_Cam" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/AMR_With_Cam/joint_states"/>
</node>

</launch>